@use "themeprovider/themeprovider" as theme;

$table-padding: 0.5em 0.85em;

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4em;

  input {
    width: min(23em, 90%);
    padding: 0.8em 0.8em;
    border: none;
    background: theme.$gray-color;
    font-size: 1rem;
    font-family: var(--monserrat-medium);
    color: theme.$black-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:focus {
      outline: none;
    }
  }

  button {
    width: min(25.5em, 90%);
    background: theme.$pink-color;
    color: theme.$white-color;
    border: none;
    padding: 1em;
    font-family: var(--monserrat-medium);
    font-size: 0.9rem;
    transition: 0.2s background ease-in-out;
    cursor: pointer;

    &:hover {
      background: theme.$pink-color-hover;
    }
  }
}

.user-info {
  overflow-x: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: min(85em, 100%);
    margin: 0 auto;
    border: 5px solid theme.$pink-color;

    thead {
      tr {
        th {
          text-align: left;
          padding: $table-padding;
          font-family: var(--monserrat-bold);
          font-size: 1.1rem;
          text-wrap: nowrap;
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: left;
          padding: $table-padding;
          font-family: var(--monserrat-medium);
          font-size: 0.95rem;
          text-wrap: nowrap;

          img {
            border-radius: 50px;
          }

          button {
            padding: 0.7em 0.9em;
            font-size: 0.9rem;
            border: none;
            font-family: var(--monserrat-bold);
            background: theme.$pink-color;
            color: theme.$white-color;
            border-radius: 50px;
            transition: background 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              background: theme.$pink-color-hover;
            }

            &:focus {
              outline: none;
            }
          }

          .copy {
            margin-left: 0.5em;
            border-radius: 10px;
            padding: 0.3em;
          }
        }

        &:nth-child(even) {
          background-color: theme.$gray-color;
        }
      }
    }
  }
}

@media (min-width: theme.$media-query-small-value) {
  .search-wrapper {
    flex-direction: row;
    justify-content: center;

    input {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }

    button {
      width: auto;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
