@use "../styles/themeprovider/themeprovider" as theme;

.scan-card-title {
  scroll-margin: 4.8em;
  margin: 4em 1.5em 0em 1.5em;

  h1 {
    color: theme.$pink-color;
    text-align: center;
    font-size: clamp(2.3rem, 3.5vw, 2.7rem);
    font-family: var(--monserrat-bold);
  }
}

.scan-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3em;
}

.classify-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;

  button {
    background: none;
    border: none;
    font-size: 1.1rem;
    font-family: var(--monserrat-bold);
    background: theme.$pink-color;
    color: theme.$white-color;
    padding: 1em;
    border-radius: 40px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: theme.$pink-color-hover;
    }
  }
}
