@use "../styles/themeprovider/themeprovider" as theme;

$modal-width: 40em;

.backdrop {
  position: fixed;
  width: 100%;
  background: theme.$black-color-transparent;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-wrapper {
  position: fixed;
  width: min($modal-width, 90%);
  left: 50%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  z-index: 4;

  .modal-content {
    width: min($modal-width, 100%);
    background: theme.$white-color;
    padding: 2em;
    border-radius: 20px;
    overflow-y: auto;

    .chart-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.7em;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7em;

        .class-result {
          color: theme.$light-brown-color;
          font-size: 1.2rem;
          font-family: var(--monserrat-bold);
          margin-bottom: 0;
        }

        .chart-container {
          width: min(7em, 100%);
        }

        .class-probability {
          color: theme.$light-brown-color;
          font-size: 1rem;
          font-family: var(--monserrat-medium);
        }
      }
    }

    .products-content {
      margin-top: 1.5em;

      .products-title {
        color: theme.$light-brown-color;
        margin-bottom: 0;
        font-size: 1.4rem;
        font-family: var(--monserrat-bold);
        text-align: left;
      }

      .products {
        margin-top: 0.8em;
        margin-left: 1em;
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5em;

        li {
          font-family: var(--monserrat-medium);
          font-size: 1rem;
          text-align: left;
        }
      }

      .products-none {
        margin-top: 0.8em;
        margin-left: 0em;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5em;

        li {
          font-family: var(--monserrat-medium);
          font-size: 1rem;
          text-align: left;
        }
      }
    }

    .close-button {
      display: flex;
      justify-content: flex-start;
      margin-top: 1.3em;

      button {
        border: none;
        font-size: 1.1rem;
        font-family: var(--koho-bold);
        background: theme.$orange-color;
        color: theme.$white-color;
        padding: 0.5em 1em;
        border-radius: 10px;
        transition: background 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background: theme.$orange-color-hover;
        }
      }
    }
  }
}
