@use "themeprovider/themeprovider" as theme;

.navbar {
  background: theme.$pink-color;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.35em 1em;

  .web-title {
    display: flex;
    align-items: center;
    text-decoration: none;

    .web-logo {
      width: 2.5em;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h1 {
      display: none;
      color: theme.$white-color;
      font-family: var(--koho-bold);
      font-size: 1.4rem;
      margin-left: 0.2em;
    }
  }

  .page-links {
    display: flex;
    align-items: center;
    gap: 1em;

    .scale-up-loader {
      width: 1.8em;
      aspect-ratio: 0.59;
      --c: no-repeat linear-gradient(#f7fff9 0 0);
      background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
      animation: scale-up-animation 1s infinite linear alternate;
    }

    .admin-link {
      text-decoration: none;
      color: theme.$white-color;
      font-family: var(--monserrat-medium);
      font-size: 1.05rem;
    }

    button {
      background: transparent;
      border: none;
      font-family: var(--monserrat-medium);
      font-weight: 600;
      font-size: 1rem;
      color: theme.$white-color;
      cursor: pointer;
    }
  }
}

@media (min-width: theme.$media-query-very-small-value) {
  .navbar {
    .web-title {
      h1 {
        display: block;
      }
    }
  }
}

@keyframes scale-up-animation {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }
  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }
  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }
  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }
  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}
