$pink-color: #db537c;
$pink-color-hover: hsl(342, 65%, 65%);
$white-color: #f7fff9;
$orange-color: #ee7674;
$light-peach-color: #fde5d9;
$black-color: #000000;
$gray-color: hsl(60, 7%, 90%);
$gray-color-hover: hsl(60, 7%, 85%);
$darker-gray-color: hsl(60, 7%, 65%);
$black-color-transparent: rgba(0, 0, 0, 0.4);
