$hero-background-color: linear-gradient(to bottom, #ee7674, #d0d6b5);
$white-color: #f7fff9;
$black-color: #000000;
$white-color-hover: hsl(142, 15%, 89%);
$black-color-transparent: rgba(0, 0, 0, 0.4);
$orange-color: #ee7674;
$orange-color-hover: hsl(1, 78%, 75%);
$light-brown-color: #987284;
$light-green-color: #d0d6b5;
$light-green-color-hover: hsl(71, 29%, 67%);
$gray-color: #e3e3df;
