@mixin loading-skeleton($border-radius, $width, $height) {
  border-radius: $border-radius;
  width: $width;
  height: $height;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(25, 30%, 70%);
  }
  100% {
    background-color: hsl(25, 30%, 83%);
  }
}
