@use "../themeprovider/themeprovider" as theme;

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: theme.$light-peach-color;
  padding: 7.3em 1.5em 5em 1.5em;
  gap: 1em;

  .user-photo {
    div {
      @include theme.loading-skeleton(50%, 5.3em, 5.3em);
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.8em;
    width: min(15em, 100%);

    .user-info-skeleton1 {
      @include theme.loading-skeleton(5px, min(15em, 100%), 2em);
    }

    .user-info-skeleton2 {
      @include theme.loading-skeleton(5px, min(12em, 100%), 1.5em);
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: min(15em, 100%);
      gap: 0.5em;

      .button-wrapper-skeleton1 {
        @include theme.loading-skeleton(10px, min(6.2em, 100%), 2.4em);
      }

      .button-wrapper-skeleton2 {
        @include theme.loading-skeleton(10px, min(8.3em, 100%), 2.4em);
      }
    }
  }
}

.saved-results-title {
  margin: 3.5em 1em 0em 1em;

  h1 {
    font-size: clamp(2.3rem, 3.5vw, 2.7rem);
    font-family: var(--monserrat-bold);
    text-align: center;
    color: theme.$black-color;
  }

  .border {
    width: 0;
    height: 0.4em;
    background: theme.$pink-color;
    margin: 0.3em auto 0em auto;
  }
}

@media (min-width: theme.$media-query-small-value) {
  .user {
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;

    .user-info {
      align-items: flex-start;

      .button-wrapper {
        justify-content: flex-start;
      }
    }
  }
}
