@use "../themeprovider/themeprovider" as theme;

$modal-width: 40em;

.backdrop {
  position: fixed;
  width: 100%;
  background: theme.$black-color-transparent;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-wrapper {
  position: fixed;
  width: min($modal-width, 90%);
  left: 50%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  z-index: 4;

  .modal-content {
    width: min($modal-width, 100%);
    background: theme.$white-color;
    padding: 1em 1.5em 2em 2em;
    border-radius: 10px;
    overflow-y: auto;

    .close-button {
      display: flex;
      justify-content: flex-end;
      position: relative;
      left: 0.7em;

      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    .products-content {
      margin-top: 0.5em;
      padding: 0.85em;
      border: 4px solid theme.$pink-color;
      border-radius: 10px;

      .products-title {
        color: theme.$pink-color;
        margin-bottom: 0;
        font-size: 1.4rem;
        font-family: var(--monserrat-bold);
        text-align: left;
      }

      .products {
        margin-top: 0.8em;
        margin-left: 1em;
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5em;

        li {
          font-family: var(--monserrat-medium);
          font-size: 1rem;
          text-align: left;
          color: theme.$black-color;
        }
      }

      .products-none {
        margin-top: 0.8em;
        margin-left: 0em;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.5em;

        li {
          font-family: var(--monserrat-medium);
          font-size: 1rem;
          text-align: left;
        }
      }
    }

    .advanced-results-input {
      margin-top: 1.35em;
      display: flex;
      align-items: center;
      gap: 0.85em;

      input[type="checkbox"] {
        transform: scale(1.7);
        accent-color: theme.$pink-color;
        cursor: pointer;
      }

      p {
        font-family: var(--monserrat-medium);
        color: theme.$black-color;
        font-size: 1rem;
      }
    }

    .chart-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.35em;
      margin-top: 2em;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7em;

        .class-result {
          color: theme.$pink-color;
          font-size: 1.2rem;
          font-family: var(--monserrat-bold);
          margin-bottom: 0;
        }

        .chart-container {
          width: min(7em, 100%);
        }

        .class-probability {
          color: theme.$pink-color;
          font-size: 1rem;
          font-family: var(--monserrat-medium);
        }
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &:hover::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: theme.$pink-color-hover;
    }
  }
}
