@use "../themeprovider/themeprovider" as theme;

.container {
  width: min(60em, 83%);

  form {
    width: 100%;
    display: flex;
    justify-content: center;

    label {
      width: min(45em, 100%);
      border: 6px dashed theme.$pink-color;
      border-radius: 20px;
      padding: 1em;
      height: 18em;
      display: inline-block;
      cursor: pointer;

      h1 {
        font-size: 1.2rem;
        line-height: 1.4em;
        font-family: var(--monserrat-medium);
        color: theme.$pink-color;
        text-align: center;
        display: grid;
        place-items: center;
        height: 100%;
      }
    }

    input {
      display: none;
    }
  }
}
